img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --ms_header-color: #2C3E50;
    --ms_hero-color: #1ABC9C;
    --ms_footer-top: #3A546D;
    --ms_footer-bottom: #2C3E50;
}


/* HEADER */
.navbar {
    background-color: var(--ms_header-color); 
}

.ms_header li {
    list-style-type: none;
    padding-right: 10px;
}

.ms_header a {
    color: white;
}

.ms_header a:hover{
    color: #1ABC9C;
}

/* ------------- */
.navbar-toggler-icon{
filter: brightness(900%);
}

.ms_btn_hamgurger {
    border-color:white;
}

/* ********************************** */

/* HERO */
.ms_hero,
.ms_about {
    background-color: var(--ms_hero-color);
    color: white;
}

.ms_hero{
    padding-top: 60px;
}

.ms_hero_container{
    max-width: 800px;
}

.ms_img {
    width: 25%;
}

.ms_hr_star{
 letter-spacing: -3px;
 font-weight: 900;
}
/* ********************************** */

/* ABOUT SECTION */
.ms_btn_dowload{
    color: white;
    border-color: white;
}

/* ********************************** */

/* FORM SECTION */
.ms_border_form{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ms_btn_send{
    background-color: #1ABC9C;
    border: 0;
}

.ms_border_form:focus{
    box-shadow: unset;
    border-bottom-color: #1ABC9C;
}

/* ********************************** */

/* FOOTER SECTIONS */
.ms_footer_top {
    background-color: var(--ms_footer-top);
    color: white;
}

.ms_fa-facebook{
    padding: 8px 12px;
}
.ms_fa-google-plus{
    padding: 8px 6px;
}
.ms_fa-twitter{
    padding: 8px 8px;
}
.ms_fa-linkedin{
    padding: 8px 9px;
}

/* Footer bottom */
.ms_anchor_bootstrap{
    color: #1ABC9C;
}

.ms_footer_bottom {
    background-color: var(--ms_footer-bottom);
    color: white;
}